{% if isBridgePaymentMethod %}
    <div id="bridge-payment-wrapper" {% if not form.vars.checked %}style="display: none"{% endif %}>
        <main id="bridge-payment-main">
            <div class="bridge-payment-container">
                <div class="bridge-payment-payment-holder">
                    <div class="">
                        <p class="bridge-checkout-text-word-spacing">
                            {{ 'bridge.payment_checkout.description'|trans }}
                        </p>
                        <br>
                    </div>
                    <div class="bridge-payment-open-close">
                        <p class="bridge-payment-active bridge-checkout-text-word-spacing">{{ 'bridge.payment_checkout.how_it_works'|trans }} </p>
                        <div class="bridge-payment-slide">
                            <ul class="bridge-payment-steps-list">
                                <li>
                                    <div class="bridge-payment-step-item">
                                        <div class="bridge-payment-holder-icon">
                                            <img src="{{ asset('bundles/bridgesyliuspaymentplugin/images/banque.png') }}" alt="image description">
                                        </div>
                                        <span class="bridge-payment-step-title">{{ 'bridge.payment_checkout.select_your_bank'|trans }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bridge-payment-step-item">
                                        <div class="bridge-payment-holder-icon">
                                            <img src="{{ asset('bundles/bridgesyliuspaymentplugin/images/telephone.png') }}" alt="image description">
                                        </div>
                                        <span class="bridge-payment-step-title">{{ 'bridge.payment_checkout.authentication'|trans }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bridge-payment-step-item">
                                        <div class="bridge-payment-holder-icon">
                                            <img src="{{ asset('bundles/bridgesyliuspaymentplugin/images/fermer.png') }}" alt="image description">
                                        </div>
                                        <span class="bridge-payment-step-title">{{ 'bridge.payment_checkout.validation'|trans }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bridge-payment-step-item">
                                        <div class="bridge-payment-holder-icon">
                                            <img src="{{ asset('bundles/bridgesyliuspaymentplugin/images/verification-du-panier.png') }}" alt="image description">
                                        </div>
                                        <span class="bridge-payment-step-title">{{ 'bridge.payment_checkout.finished'|trans }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bridge-payment-bank-holder">
                        <div class="bridge-payment-bank-box">
                            <div class="bridge-payment-search-box">
                                <input id="bridge-bank-filter" type="search" placeholder="{{ 'bridge.payment_checkout.search_a_bank'|trans }}">
                            </div>
                            <div class="bridge-payment-bank-form">
                                <div id="bridge-banks-list" class="bridge-payment-banks">
                                    {{ render(controller('bridge.action.fetch_banks')) }}
                                </div>
                                <span class="bridge-payment-link-more">{{ 'bridge.payment_checkout.scroll_down_to_see_more_banks'|trans }}
                                    <img src="{{ asset('bundles/bridgesyliuspaymentplugin/images/down-arrow.png') }}" alt="image description">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <br>
                        <p class="bridge-checkout-text-word-spacingt">
                            {{ 'bridge.payment_checkout.you_continuously_accept_the'|trans }}
                            <a href="https://pay.bridgeapi.io/pdf/cgs-{{ app.request.locale == 'fr' ? 'fr' : 'en'  }}.pdf" target="_blank">{{ 'bridge.payment_checkout.cgs'|trans }}</a>
                            {{ 'bridge.payment_checkout.and_the'|trans }}
                            <a href="https://pay.bridgeapi.io/pdf/information_statement_{{ app.request.locale == 'fr' ? 'FR' : 'EN' }}.pdf" target="_blank">{{ 'bridge.payment_checkout.information_notice_from_bridge'|trans }}</a>
                            {{ 'bridge.payment_checkout.an_approved_payment_institution'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endif %}
